.history-container {
  padding: 16px;
  border-radius: 6px;
}

.filter-bar {
  display: flex;
  gap: 12px;
  align-items: center;

  dx-text-box,
  dx-select-box {
    width: 200px;
  }
}

.title {
  color: #2b5dab;
  margin: 0 0 8px 0 !important;
}
